* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ededed;
}

/** ====================================================================== **/
/** NAV BAR **/
/** ====================================================================== **/
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #323132;
  text-transform: uppercase;
  min-height: 80px;
  border-bottom: solid 5px #4292dc;
}

.logo img {
  width: 28%;
  margin-top: 0.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  color: rgb(226, 226, 226);
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: bold;
}

.home,
.about,
.contact {
  padding: 10%;
  border-radius: 20px;
}

.home:hover,
.about:hover,
.contact:hover {
  transition: 1s;
  font-weight: bold;
  background-color: #4292dc;
}

/** ====================================================================== **/
/** END NAV BAR **/
/** ====================================================================== **/

/** ====================================================================== **/
/** HOME PAGE **/
/** ====================================================================== **/

.background {
  background: url('img/background.jpg');
  background-size: cover;
}

.mine {
  text-align: center;
}

.mine img {
  margin-top: 7vh;
}

.text-home {
  color: rgb(226, 226, 226);
  text-align: center;
  margin-top: 4rem;
  font-size: 60px;
}

.footer-social-icons {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 35%;
  margin: 4rem auto;
  padding-bottom: 5rem;
}

.footer-social-icons li a {
  width: 60px;
  height: 60px;
  background: #fff;
  text-align: center;
  font-size: 40px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.footer-social-icons li a .fab,
.footer-social-icons li a .fas {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.footer-social-icons li a:hover .fab,
.footer-social-icons li a:hover .fas {
  color: #fff;
  transform: rotateY(360deg);
}

.footer-social-icons li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e4405f;
  transition: .5s;
  z-index: 2;
}

.footer-social-icons li a:hover:before {
  top: 0;
}

.footer-social-icons li:nth-child(1) a:before {
  background: #3b5999;
}

.footer-social-icons li:nth-child(2) a:before {
  background: #007ee5;
}

.footer-social-icons li:nth-child(3) a:before {
  background: #00c300;
}

.footer-social-icons li:nth-child(4) a:before {
  background: #0077B5;
}

.footer-social-icons li:nth-child(5) a:before {
  background: #f48024;
}

.footer-social-icons li:nth-child(6) a:before {
  background: #ED0013;
}

/** ====================================================================== **/
/** END HOME PAGE **/
/** ====================================================================== **/

/** ====================================================================== **/
/** ABOUT PAGE **/
/** ====================================================================== **/
.about-page {
  background-color: #ededed;
}

.text-about {
  color: #3a3835;
  text-align: center;
  font-size: 60px;
}

.grid-container {
  width: 75%;
  margin: 0 auto;
}

.grid-item {
  padding-bottom: 2rem;
}

.grid-item .text-topic {
  font-size: 45px;
  text-align: center;
}

.grid-item .text-myself {
  font-size: 30px;
  margin-top: 1rem;
  text-indent: 8%;
}

.gridItemImg {
  text-align: center;
}

.grid-item img {
  width: 25%;
  margin-top: 2rem;
}

strong {
  margin-left: 10%;
}

/** ====================================================================== **/
/** END ABOUT PAGE **/
/** ====================================================================== **/

/** ====================================================================== **/
/** PROJECT PAGE **/
/** ====================================================================== **/
.project-page {
  background-color: #e5e5e5;
}

.text-project {
  color: #3a3835;
  text-align: center;
  padding-top: 2rem;
  font-size: 60px;
}

.school-design {
  text-align: center;
  margin: 1rem;
}

.school-design img {
  width: 60%;
}

/** ====================================================================== **/
/** END PROJECT PAGE **/
/** ====================================================================== **/

/** ====================================================================== **/
/** FOOTER PAGE **/
/** ====================================================================== **/
.footer {
  background: #323132;
  padding: 0.5rem 0.5rem;
}

.copyright {
  color: rgb(226, 226, 226);
  font-size: 20px;
  text-align: center;
}

/** ====================================================================== **/
/** END FOOTER PAGE **/
/** ====================================================================== **/



/** ====================================================================== **/
/** RESPOSIVE PAGES **/
/** ====================================================================== **/
@media screen and (max-width:1655px) {

  /** ====================================================================== **/
  /** HOME PAGE **/
  /** ====================================================================== **/
  .text-home {
    font-size: 50px;
  }

  /** ====================================================================== **/
  /** END HOME PAGE **/
  /** ====================================================================== **/
  /** ====================================================================== **/
  /** ABOUT PAGE **/
  /** ====================================================================== **/
  .text-about {
    font-size: 50px;
    padding-top: 0;
  }

  .grid-item .text-topic {
    font-size: 40px;
  }

  /** ====================================================================== **/
  /** END ABOUT PAGE **/
  /** ====================================================================== **/
  /** ====================================================================== **/
  /** PROJECT PAGE **/
  /** ====================================================================== **/
  .text-project {
    font-size: 50px;
  }

  /** ====================================================================== **/
  /** END PROJECT PAGE **/
  /** ====================================================================== **/
}

@media screen and (max-width:1440px) {
  /** ====================================================================== **/
  /** PROJECT PAGE **/
  /** ====================================================================== **/

  .school-design img {
    width: 75%;
  }

  /** ====================================================================== **/
  /** END PROJECT PAGE **/
  /** ====================================================================== **/
}

@media screen and (max-width:1366px) {

  /** ====================================================================== **/
  /** NAV BAR **/
  /** ====================================================================== **/
  .logo img {
    margin-left: 20%;
  }

  .nav-links {
    width: 45%;
    margin-right: 7%;
  }

  /** ====================================================================== **/
  /** END NAV BAR **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** HOME PAGE **/
  /** ====================================================================== **/
  .mine img {
    width: 30%;
    margin-top: 8vh;
  }

  .text-home {
    font-size: 45px;
  }

  .footer-social-icons {
    width: 55%;
  }

  /** ====================================================================== **/
  /** END HOME PAGE **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** ABOUT PAGE **/
  /** ====================================================================== **/
  .text-about {
    padding-top: 0rem;
  }

  .grid-item {
    padding: 0;
  }

  .grid-container {
    grid-template-columns: none;
  }

  .grid-item .text-topic {
    font-size: 35px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .grid-item .text-myself {
    font-size: 30px;
    margin-top: 0;
  }

  .grid-item img {
    width: 36%;
    margin: 1rem 33%;
  }

  /** ====================================================================== **/
  /** END ABOUT PAGE **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** PROJECT PAGE **/
  /** ====================================================================== **/
  .school-design img {
    width: 80%;
  }

  /** ====================================================================== **/
  /** END PROJECT PAGE **/
  /** ====================================================================== **/
}

@media screen and (max-width:1024px) {

  /** ====================================================================== **/
  /** HOME PAGE **/
  /** ====================================================================== **/
  .mine img {
    margin-top: 6vh;
  }

  /** ====================================================================== **/
  /** END HOME PAGE **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** ABOUT PAGE **/
  /** ====================================================================== **/
  .grid-item img {
    width: 42%;
    margin: 2rem 30%;
  }

  /** ====================================================================== **/
  /** END ABOUT PAGE **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** PROJECT PAGE **/
  /** ====================================================================== **/
  .school-design img {
    width: 85%;
  }

  /** ====================================================================== **/
  /** END PROJECT PAGE **/
  /** ====================================================================== **/
}

@media screen and (max-width:800px) {

  /** ====================================================================== **/
  /** NAV BAR **/
  /** ====================================================================== **/
  .logo img {
    width: 45%;
  }

  .nav-links {
    width: 100%;
  }

  /** ====================================================================== **/
  /** END NAV BAR **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** HOME PAGE **/
  /** ====================================================================== **/
  .mine img {
    width: 38%;
  }

  .text-home {
    font-size: 40px;
    margin-top: 2rem;
  }

  .footer-social-icons {
    width: 70%;
    margin: 2rem auto;
    padding-bottom: 3rem;
  }

  .footer-social-icons li a {
    width: 50px;
    height: 50px;
    font-size: 33px;
  }

  /** ====================================================================== **/
  /** END HOME PAGE **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** ABOUT PAGE **/
  /** ====================================================================== **/
  .text-about {
    font-size: 40px;
  }

  .grid-item .text-topic {
    font-size: 33px;
  }

  .grid-item img {
    width: 43%;
    margin: 1rem 30%;
  }

  /** ====================================================================== **/
  /** END ABOUT PAGE **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** PROJECT PAGE **/
  /** ====================================================================== **/
  .text-project {
    font-size: 40px;
  }

  /** ====================================================================== **/
  /** END PROJECT PAGE **/
  /** ====================================================================== **/
}

@media screen and (max-width:640px) {

  /** ====================================================================== **/
  /** NAV BAR **/
  /** ====================================================================== **/
  .nav-bar {
    display: block;
  }

  .logo img {
    width: 25%;
    margin: 0.5rem 37%;
  }

  .nav-links {
    width: 70%;
    margin: 0 auto 1rem auto;
  }

  /** ====================================================================== **/
  /** END NAV BAR **/
  /** ====================================================================== **/
}

@media screen and (max-width:500px) {

  /** ====================================================================== **/
  /** HOME PAGE **/
  /** ====================================================================== **/
  .mine img {
    width: 45%;
  }

  .footer-social-icons {
    width: 80%;
  }

  .footer-social-icons li a {
    width: 40px;
    height: 40px;
    font-size: 27px;
  }

  /** ====================================================================== **/
  /** END HOME PAGE **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** ABOUT PAGE **/
  /** ====================================================================== **/
  .text-about {
    font-size: 38px;
  }

  .grid-item .text-topic {
    font-size: 30px;
  }

  .grid-item .text-myself {
    font-size: 25px;
  }

  .grid-item img {
    width: 67%;
    margin: 1rem 17%;
  }

  /** ====================================================================== **/
  /** END ABOUT PAGE **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** PROJECT PAGE **/
  /** ====================================================================== **/
  .text-project {
    font-size: 38x;
  }

  /** ====================================================================== **/
  /** END PROJECT PAGE **/
  /** ====================================================================== **/
}

@media screen and (max-width:420px) {

  /** ====================================================================== **/
  /** NAV BAR **/
  /** ====================================================================== **/
  .nav-links {
    width: 90%;
  }

  .nav-links a {
    font-size: 17px;
  }

  /** ====================================================================== **/
  /** END NAV BAR **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** HOME PAGE **/
  /** ====================================================================== **/
  .mine img {
    width: 60%;
  }

  .footer-social-icons {
    width: 90%;
  }

  /** ====================================================================== **/
  /** END HOME PAGE **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** ABOUT PAGE **/
  /** ====================================================================== **/
  .text-about {
    padding-top: 0;
  }

  .grid-container {
    width: 90%;
  }

  /** ====================================================================== **/
  /** END ABOUT PAGE **/
  /** ====================================================================== **/
}

@media screen and (max-width:360px) {

  /** ====================================================================== **/
  /** HOME PAGE **/
  /** ====================================================================== **/
  .mine img {
    width: 50%;
  }

  .text-home {
    font-size: 35px;
    margin-top: 3rem;
  }

  .footer-social-icons {
    width: 95%;
  }

  /** ====================================================================== **/
  /** END HOME PAGE **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** ABOUT PAGE **/
  /** ====================================================================== **/
  .text-about {
    font-size: 35px;
  }

  .grid-item .text-topic {
    font-size: 25px;
    margin: 0;
  }

  .grid-item .text-myself {
    font-size: 22px;
  }

  /** ====================================================================== **/
  /** END ABOUT PAGE **/
  /** ====================================================================== **/

  /** ====================================================================== **/
  /** FOOTER PAGE **/
  /** ====================================================================== **/
  .copyright {
    padding-top: 4px;
    font-size: 15px;
  }

  /** ====================================================================== **/
  /** END FOOTER PAGE **/
  /** ====================================================================== **/
}

/** ====================================================================== **/
/** END RESPOSIVE PAGES **/
/** ====================================================================== **/